

.CriarPersonagens-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, #835832, #916436, #9e7039, #ab7d3d, #b78a40);
}

.CriarPersonagens-inputs {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CriarPersonagens-inputs-content {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.CriarPersonagens-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 70%;
}

.CriarPersonagens-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30%;
}

.CriarPersonagens-inputs-input {
    width: 70%;
    height: 10%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-weight: bolder;
    font-size: large;
    color: var(--main-terciary-color);
}

.CriarPersonagens-inputs-input > label {
    margin-bottom: 5px;
}


#vidro-preto {
    background: rgba( 0, 0, 0, 0.35 );
}


.CriarPersonagens-personagem {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CriarPersonagens-personagem-content {
    width: 60%;
    height: 80;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.CriarPersonagens-personagem-imagem {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CriarPersonagens-personagem-imagem > img {
    width: 100%;
}

.CriarPersonagens-personagem-stats {
    width: 100%;
    min-height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-terciary-color);
}