

.EntrarSala-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: radial-gradient(circle, #835832, #916436, #9e7039, #ab7d3d, #b78a40);
}


.EntrarSala-container {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    transition: 0.5s;
    padding: 1%;
    min-width: 470px;
}

.Modal-privado-section {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
}


.EntrarSala-input {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.EntrarSala-input > p {
    margin-right: 10px;
    font-size: 22px;
}

.EntrarSala-content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    border-radius: 10px;
    background-color: var(--main-secundary-color);
}

.EntrarSala-sala-pesquisa {
    width: 99%;
    height: 10%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    border: 2px solid var(--main-terciary-color);
    border-radius: 10px;
    cursor: pointer;
}

.EntraSala-sala-nome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    border-right: 2px dotted var(--main-terciary-color);
    text-decoration: underline;
}

.EntrarSala-sala-jogadores {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

