html, body, #root { 

    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    font-family: 'Calistoga', serif;
    font-weight: bold;
    color: var(--main-terciary-color);
}

:root {
    --main-primary-color : #361a0f;
    --main-secundary-color: #583421;
    --main-terciary-color: #835832;
    --main-quaternary-color: #b78a40;
    --main-quintonary-color: #ceb948;
}

label {
    margin-bottom: 5px;
}

 

.efeito-vidro {
    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}

select,
option {
    border: none;
    outline: none;
    padding: 5px 55px 5px 5px;
    background-color: var(--main-secundary-color);
    color: var(--main-primary-color);
    -webkit-appearance: none; 
    margin: 0;
    padding: 0.4vw;
    border-radius: 0.4vw;
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
}

option {
    color: var(--main-quaternary-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--main-quintonary-color);
  -webkit-text-fill-color: var(--main-quaternary-color);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}


input {
    width: 100%;
    height: 30%;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--main-secundary-color);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    color: var(--main-terciary-color);
}

input::placeholder {
  color: var(--main-terciary-color);
}



.label-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

  .label-checkbox  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
 
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: var(--main-secundary-color);
  }
  

  .label-checkbox :hover input ~ .checkmark {
    background-color: #ccc;
  }
  

  .label-checkbox  input:checked ~ .checkmark {
    background-color: var(--main-secundary-color);
  }
  
 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
 
  .label-checkbox  input:checked ~ .checkmark:after {
    display: block;
  }
  

  .label-checkbox  .checkmark:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid var(--main-quaternary-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: ease-out;
  }

  input[type=range] {
    width: 100%;
    margin: 5.3px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #b78a40;
    border: 0.2px solid #b78a40;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -5.5px;
    width: 20px;
    height: 19px;
    background: #835832;
    border: 1px solid #b78a40;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #c0944b;
  }
  input[type=range]::-moz-range-track {
    background: #b78a40;
    border: 0.2px solid #b78a40;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 19px;
    background: #835832;
    border: 1px solid #b78a40;
    border-radius: 50px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5.8px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #a87f3b;
    border: 0.2px solid #b78a40;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background: #b78a40;
    border: 0.2px solid #b78a40;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    width: 20px;
    height: 19px;
    background: #835832;
    border: 1px solid #b78a40;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
   
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #b78a40;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #c0944b;
  }
  
  @supports (-ms-ime-align:auto) {
    
    input[type=range] {
      margin: 0;
      
    }
  }

.grow-animation {
    transition: 0.5s;
}

.grow-animation:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s;
}
  


.button-1 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-secundary-color);
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.5s;
    background-color: var(--main-terciary-color);
}


.button-1:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
    transition: 0.5s;
}



.button-2 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-2:hover,
.button-2:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-2:hover {
  transform: translateY(-1px);
}

.button-2:active {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: var(--main-secundary-color);
  transform: translateY(0);
}

@media (min-width: 768px) {
    button {
        padding: 0.25em 0.75em;
    }
}