.Loading-section {

    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}


.Loading-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid var(--main-primary-color);
    border-radius: 50%;
    border-top-color: var(--main-quaternary-color);
    height: 50px;
    width: 50px;
}

.modal {
    display: flex;
}


@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }